body {
  color: #fff;
  background: #000;
}

#title {
  font-size: 70px;
  width: 450px;
  border-bottom: 8px solid orange;
}

#data {
  font-size: 34px;
  padding-top: 10px;
  margin-top: 5px;
  width: 450px;
  border-top: 3px solid orange;
}

#contents {
  color: #000;
  background: #fff;
  margin-top: 100px;
  width: 500px;
  text-align: center;
}
