body {
  color: #ffffff;
  background-color: #002535
}

textarea:focus, input:focus {
  outline: none;
}

.list-group {
  padding-top: 10px;
}

.list-group-item {
  margin: 15px;
}

#msg-box {
  text-align: center;
  font-size: 17px;
}

#random-msg-box {
  text-align: center;
  font-size: 12px;
}

#input-bar {
  background-color: rgba(255,255,255,0);
  border-color: transparent;
  border-radius: 5px;
  width: 85%;
}

#search-bar {
  background-color: rgba(255,255,255,0);
  text-align: center;
  border:5px solid orange;
  border-radius: 20px;
  padding-top: 1.5px;
  margin-top: 10px;
}

#toggle-btn {
  color: orange;
}

#random-btn {
  color: yellow;
}
